.navbar{
    background-color: #b31a28;
}

.navbar-somaiya{
    margin: auto;
    padding: 2rem;
}

h3{
    margin: auto;
    text-align: center;
    padding: 2em;
}

.btn-primary{
    background-color: #b31a28;
    border-color: #b31a28;
}

.btn{
    margin: auto;
    display: block;
}

.form-floating.mb-3.Output{
    display: block;
    margin: auto;
    text-align: center;
    width: 25%;
    padding-bottom: 100px;
}


.form-floating.mb-3.Input{
    display: block;
    margin: auto;
    text-align: center;
    width: 25%;
    border-radius: 100px;
}
